

*{
  margin: 0;
  background-color: rgb(24, 14, 43);
  padding-top: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body{
  padding-top: 40px;
}

html{
  scroll-behavior: smooth;
}

main {
  margin: 0px auto;
  width: 100%;
  max-width: 1600px;
  min-height: 100vh;
  /* padding: 200px 150px; */
}

nav{
  /* background-color: rgb(24, 14, 43);
  position: fixed;
  height: 80px;
  top: 0;
  transition: top 0.2s ease-in-out;
  width: 100%;
  z-index: 1; */

  display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 12;
    background-color: rgb(24, 14, 43);

}

nav ul{
  float: right;
  list-style-type: none;
  margin-top: 35px;
  margin-right: 50px;
  top: 0;
  right: 0;
  z-index: 1;
}

nav ul li{
  display: inline-block;
}

nav ul li a{
  text-decoration: none;
  color: rgb(182, 208, 226);
  padding: 5px 30px;
  border: 1px solid rgb(125, 249, 255);
  transition: 0.4s ease;
}

nav ul li a:hover{
  background-color: rgb(240, 255, 255);
  color: rgb(24, 14, 43)
}

nav ul li.active a{
  background-color: rgb(240, 255, 255);
  color: rgb(24, 14, 43)
}


.nav-up {
  top: -80px;
}



.circle{
  float: left;
  margin-top: 30px;
  margin-left: 50px;
  height: 40px;
  width: 40px;
  background-color: rgb(24, 14, 43);
  border-radius: 50%;
  border: 1px solid rgb(125, 249, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle p{
  color: rgb(125, 249, 255);
}



header{
  background-color: rgb(24, 14, 43);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 2;
}

.title h1{
  color: rgb(182, 208, 226);
  font-size: 70px;
}

.title h2{
  color: rgba(182, 208, 226, 0.5);
  font-size: 50px;
}

.title p{
  color: rgba(182, 208, 226, 0.5);
  font-size: 20px;
  margin-top: 30px;
}


.about{
  background-color: rgb(24, 14, 43);
  height: 100vh;
  background-size: cover;
  background-position: center;
}


div{
  display: block;
}

footer{
  background-color: rgb(24, 14, 43);
  height: 10vh;
  background-size: cover;
  background-position: center;
}

footer p{
  color: rgb(125, 249, 255);
  display: flex;
  justify-content: center;
}




h3, h2{
  color:rgb(182, 208, 226)
}


h4{
  color:rgb(125, 249, 255)
}



a {
  text-decoration: none;
}







.contact-section{
  background-color: rgb(24, 14, 43);
  height: 70vh;
  background-size: cover;
  background-position: center;
}

section{
  margin: 0px auto;
  padding: 100px 0px;
  max-width: 1000px;
}

section h3{
  margin-left: 25%;
  font-size: 40px;
}

.about{
  margin-left: 20%;
  margin-right: 20%;
}

.text{
  color: rgb(182, 208, 226);
  margin-top: 20px;
  line-height: 2;
  font-size: 20px;

}



/* section a{
  margin-left: 25%;
} */

hr {
  background-color: rgb(125, 249, 255);
  border: none;
  height: 1px;
  margin-left: 25%;
  margin-right: 50%;
}



.featured-projects{
   display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 25px;
    padding-inline-end: 25px;
}

.featured-project{
  position: relative;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
}

 .project-content{
  position: relative;
  grid-area: 1 / 1 / -1 / 7; 
}

 .project-overline{
  margin: 10px 0px;
  color: rgb(125, 249, 255);
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 400;
}

.project-title{
  margin: 0px 0px 20px

}

  .project-title a{
  color: rgb(182, 208, 226);
  
}

.project-title a:hover, a:active{
  color: rgb(125, 249, 255);
}

.project-description {
  box-shadow: 0 10px 30px -15px #4adede;
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
  position: relative;
  z-index: 2;
  padding: 25px;
  border-radius: 4px;
  background-color: rgb(30, 13, 55);
  color: rgb(182, 208, 226);
  font-size: 18px;
  line-height: 1.5;
}
 .project-tech-list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
  margin: 25px 0px 10px;
  padding: 0px;
  list-style: none;
  color: rgb(125, 249, 255);
  background: transparent;
  
}

.featured-project:nth-of-type(2n+1) .project-tech-list {
  -webkit-box-pack: end;
  justify-content: flex-end;
}

 .project-tech-list li {
  margin: 0px 20px 5px 0px;
  white-space: nowrap;
  color: rgb(182, 208, 226);
}

.featured-project:nth-of-type(2n+1) .project-tech-list li {
  margin: 0px 0px 5px 20px;
}

 .project-links {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  margin-top: 10px;
  margin-left: -10px;
}

.featured-project:nth-of-type(2n+1) .project-links {
  -webkit-box-pack: end;
  justify-content: flex-end;
  margin-left: 0px;
  margin-right: -10px;
}

.project-links a {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 10px;
  color: rgb(182, 208, 226);
}

.project-links a:hover, a:active {
  color: rgb(125, 249, 255);
}





.project-image {
  box-shadow: 0 10px 30px -15px rgb(125, 249, 255);
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
  grid-area: 1 / 6 / -1 / -1;
  position: relative;
  z-index: 1;
 
}


.project-image :hover{
  box-shadow: 0 20px 30px -15px rgb(125, 249, 255);
}



.featured-project:nth-of-type(2n+1) .project-image {
  grid-column: 1 / 8;
}

/* .product-image a{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    vertical-align: middle;
} */


/* .project-image .img {
  border-radius: 4px;
  mix-blend-mode: multiply;
} */

.social{
  display: flex;
  justify-content: space-around;
  padding-top: 10dvh;
  font-size: 60px;
}

.social a{
  color: rgb(182, 208, 226);

}

.social :hover{
  color: rgb(125, 249, 255);
}

/* ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.project {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25rem;
}

.project__img-box {
  position: relative;
  width: 50%;
}

.project__text {
  position: absolute;
  flex: 1 1 50%;
  text-align: right;
} */
/* 
.featured-project:nth-of-type(even) {
  grid-direction: row-reverse;
} */



.featured-project:nth-of-type(2n+1) .project-content {
  grid-column: 7 / -1;
  text-align: right;
}



.featured-project:not(:last-of-type) {
  margin-bottom: 100px;
}


ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.menu-sidebar ol li{
  position: relative;
    margin: 0px auto 20px;
    counter-increment: item 1;
    font-size: clamp(14px,4vw,18px);
}

.menu-sidebar ol li::before{
  content: "0" counter(item) ".";
    display: block;
    margin-bottom: 5px;
    color: rgb(125, 249, 255);
    font-size: 14px;
}

.menu-sidebar ol a{
  display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    width: 100%;
    padding: 3px 20px 20px;
}

.menu-sidebar{
  display: none;
}

.hamburger{
  display: none;
}









  











